<!--[if lt IE 9]>
<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
<link href="/assets/css/font-awesome.css" rel="stylesheet">
<![endif]-->

<!--[if gt IE 8]>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
<![endif]-->

<!--[if !IE]><!-->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<!--<![endif]-->

<link href="/assets/vendor/color-themes-for-google-code-prettify/color-themes-for-google-code-prettify-1.0/build/assets/css/themes/github.css" rel="stylesheet">
<link href="/assets/css/main.css" rel="stylesheet">
