body {
    margin-top:80px;
}

.navbar-inverse .container .navbar-brand {
    background: url('/assets/img/st30.png') transparent no-repeat 0px 9px;
    color: #08C;
    padding-left: 40px;
    margin-left: -35px;
}

.navbar .spacer {
    width:0;
    margin-left: 5px;
    margin-right: 5px;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    background-color: transparent;
}

.navbar .user-actions .spacer {
    border-left: 1px solid #999;
}

.link-list a,
.link-list span {
    display: block;
    padding: 2px 0;
}

.link-list li {
    padding: 2px 0;
}

.document-list.link-list a,
.document-list.link-list span {
    margin-top: -4px;
}

.document-list {
    margin-top: 20px;
}

body .container a {
    text-decoration: none;
}

body .container a:hover {
    text-decoration: none;
}

.section-post-meta .meta {
    opacity: 0.4;
}


.post .section {
    margin-bottom: 40px;
}

.post p {
    font-size: 16px;
    line-height: 24px;
}

.top-list ol {
    margin-left:15px;
}

.top-list ol li {
    font-size: 40px;
    color: #ddd;
}

.top-list ol li a {
    display:block;
}

.cta .btn {
    text-align: left;
    width: 100%;
    margin-top: 20px;
}

.cta a.btn b {
    display:block;

}

.cta span {
    display:block;
    white-space: normal;
    opacity: 0.8;
    margin-top: 8px;
}

@media (max-width: 992px) {
    .cta h4 {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    .error h1 {
        margin-bottom: 40px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 18px;
    }

    .top-list ol {
        margin-left: 0;
    }

    .top-list ol li {
        font-size: 18px;
        color: #bbb;
    }

    .navbar-inverse .container .navbar-brand {
        margin-left: 15px;
    }

    .breadcrumb {
        padding-left: 0;
    }

    body.with-cta {
        margin-top: 51px;
    }

    .with-cta .navbar {
        margin-bottom: 0;
    }

    .cta .btn {
        margin-top: 0;
        border-radius: 0;
        margin-bottom: 20px;
    }
}