body {
    margin-top:80px;
}

h1 {
    font-size: 31.5px;
}

h2 {
    font-size: 24.5px;
}

h3 {
    font-size: 17.5px;
}

.navbar .brand {
    background: url('/assets/img/st30.png') transparent no-repeat 5px 4px;
    color: #08C;
    padding-left: 40px;
}

.navbar-inverse .brand:hover {
    color:#0ae;
}

body .container a {
    text-decoration: none;
}

body .container a:hover {
    text-decoration: none;
}

.sidebar-list {
    margin-left: 16px;
}

.sidebar-list li {
    margin:0;
    padding:3px;
}

.sidebar-list a {
    display:block;
    padding:3px;
    margin: -3px;
}

.document-list {
    list-style-type: none;
    margin:0;
    padding:0;    
}

.document-list li {
    list-style-type: none;
}

.document-list .icon {
    margin-right:6px;
}

.document-list a:hover span {
    text-decoration: underline;
}

.section-post-meta .meta {
    opacity: 0.4;
}

/*.post .section {
    width:80%;
}*/

.post .section {
    margin-bottom: 40px;
}

.post p {
    font-size: 16px;
    line-height: 24px;    
}

ol.roman {
    list-style-type: lower-roman;
}

span.target {
    display: block;
    height:40px;
    margin-top:-40px;
}

strong .atv {
    color: #aa0011;
}

.top-list ol {
    margin-left:60px;
}

.top-list ol li {
    font-size: 40px;
    color: #ddd;
    margin-bottom: 40px;    
}

.top-list ol li a {
    display:block;
}