{% assign equivalent_error_count = '' %}

{% for equivalent_error in page.equivalent_errors %}
    {% for post in site.posts %}
    {% capture comparator %}{{post.id | split:'/' | last}}{% endcapture %}    
        {% if comparator == equivalent_error %}
            {% capture equivalent_error_count %}{{equivalent_error_count}}x{% endcapture %}
        {% endif %}
    {% endfor %}
{% endfor %}

{% capture equivalent_error_count %}{{equivalent_error_count | size}}{% endcapture %}

{% if equivalent_error_count != '0' %}
<div class="section related-errors">    
    <h3>Equivalent errors</h3>
    <ul>
        {% for equivalent_error in page.equivalent_errors %}
            {% for post in site.posts %}
            {% capture comparator %}{{post.id | split:'/' | last}}{% endcapture %}    
                {% if comparator == equivalent_error %}
        <li>
            {% if post.title == page.title %}
            {{post.title}}
            {% else %}
            <a href="{{post.url}}">{{post.title}}</a>
            {% endif %}         
        </li>                     
                {% endif %}
            {% endfor %}
        {% endfor %}       
    </ul>   
</div>
{% endif %}