{% assign related_post_count = '' %}
{% for post in site.posts %}
{% if post.parent_path == page.parent_path and post.is_parent == false %}
{% capture related_post_count %}{{related_post_count}}x{% endcapture %}
{% endif %}
{% endfor %}

{% if related_post_count | size > 0 %}
<hr>
{% if page.is_parent == false %}
<div class="section related-errors">    
    <h3>Main error type</h3>
    <a href="../{{page.parent_path}}">{{ page.parent_title }}</a>  
</div>
{% endif %}

<div class="section related-errors">    
    <h3>Related errors</h3>
    <ul>
        {% for post in site.posts %}
        {% if post.parent_path == page.parent_path and post.is_parent == false %}
        <li>
            {% if post.title == page.title %}
            {{post.title}}
            {% else %}
            <a href="{{post.url}}">{{post.title}}</a>
            {% endif %}            
        </li>
        {% endif %}
        {% endfor %}        
    </ul>   
</div>
{% endif %}

