{% assign related_error_count = '' %}

{% for page_relation in page.relations %}
    {% for post in site.posts %}
        {% if post.is_parent and post.parent_path != page.parent_path and post.relations contains page_relation %}
            {% capture related_error_count %}{{related_error_count}}x{% endcapture %}            
        {% endif %}
    {% endfor %}
{% endfor %}

{% capture related_error_count %}{{related_error_count | size}}{% endcapture %}

{% if related_error_count != '0' %}
<div class="section related-errors">    
    <h3>Related errors</h3>
    <ul class="list-unstyled link-list">
        {% for page_relation in page.relations %}
            {% for post in site.posts %}
                {% if post.is_parent and post.parent_path != page.parent_path and post.relations contains page_relation %}
        <li>
            {% if post.title == page.title %}
            {{post.title}}
            {% else %}
            <a href="{{post.url}}">{{post.title}}</a>
            {% endif %}            
        </li>            
                {% endif %}
            {% endfor %}
        {% endfor %}        
       
    </ul>   
</div>
{% endif %}