<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">
                SimplyTestable
                <span>Help and Documentation</span>
            </a>
            
            
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li><a href="//simplytestable.com/">Go to Simply Testable <i class="icon icon-angle-right"></i></a></li>
                </ul>
            </div>
            
        </div>
    </div>
</div>