<ol class="breadcrumb">
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a href="/" itemprop="url">
            <span itemprop="title">Documentation</span>
        </a>
    </li>

{% assign path = '' %}
{% for category in page.categories %}
    {% if forloop.last == false or page.is_parent %}
        {% assign item_text = category | replace:'-',' ' | capitalize | replace:'Html','HTML' %}
        {% capture path %}{{ path }}/{{ category }}{% endcapture %}

    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        {% if category == 'errors' %}
            <a href="{{path}}/html-validation/index/" itemprop="url">
                <span itemprop="title">{{item_text}}</span>
            </a>
        {% else %}
            <a href="{{path}}/index/" itemprop="url">
                <span itemprop="title">{{item_text}}</span>
            </a>
        {% endif %}
    </li>

    {% endif %}

{% endfor %}

{% if page.is_parent == false %}
<li itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="active">
    <a href="/{{ page.categories | join: '/'}}/" itemprop="url">
        <span itemprop="title">{{page.parent_title}}</span>
    </a>
</li>
{% endif %}

{% if page.id == '/errors/html-validation/index' %}
<li itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="active">
    <span itemprop="title">HTML validation</span>
</li>
{% endif %}

{% if page.categories contains 'legal' %}
<li itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="active">
    <span itemprop="title">{{page.title}}</span>
</li>
{% endif %}

</ol>

<!--
<div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <a href="http://www.example.com/dresses" itemprop="url">
        <span itemprop="title">Dresses</span>
    </a>
</div>
<div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <a href="http://www.example.com/dresses/real" itemprop="url">
        <span itemprop="title">Real Dresses</span>
    </a>
</div>
<div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <a href="http://www.example.com/clothes/dresses/real/green" itemprop="url">
        <span itemprop="title">Real Green Dresses</span>
    </a>
</div>
-->