<ol class="breadcrumb">
    <li><a href="/">Documentation</a></li>

{% assign path = '' %}
{% for category in page.categories %}
    {% if forloop.last == false or page.is_parent %}
        {% assign item_text = category | replace:'-',' ' | capitalize | replace:'Html','HTML' %}
        {% capture path %}{{ path }}/{{ category }}{% endcapture %}

    <li>
        {% if category == 'errors' %}
            <a href="{{path}}/html-validation/index/">{{item_text}}</a>
        {% else %}
            <a href="{{path}}/index/">{{item_text}}</a>
        {% endif %}
    </li>

    {% endif %}

{% endfor %}

{% if page.is_parent == false %}
<li class="active"><a href="/{{ page.categories | join: '/'}}/">{{page.parent_title}}</a></li>
{% endif %}

{% if page.id == '/errors/html-validation/index' %}
<li class="active">HTML validation</li>
{% endif %}

{% if page.categories contains 'legal' %}
<li class="active">{{page.title}}</li>
{% endif %}

</ol>