<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page.title }} | {{ site.simplytestable.title }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="//twitter.github.io/bootstrap/assets/js/google-code-prettify/prettify.css" rel="stylesheet">        
        {% include assets/css/default.html %}
        <script src="//twitter.github.io/bootstrap/assets/js/google-code-prettify/prettify.js" type="text/javascript"></script>        
        {% include assets/js/default.html %}
        <script>
            // Activate Google Prettify in this page
            addEventListener('load', prettyPrint, false);
            $(document).ready(function(){
                // Add prettyprint class to pre elements
                $('pre').addClass('prettyprint');           
            }); // end document.ready
        </script>        
    </head>
    <body id="{% include page/id %}" class="{{ page.body_class }}">
        {% include header/navigation.html %}

        <div class="container">
            {% include header/introduction.html %}
            
            <div class="row">
                <div class="span12">
                    {% include breadcrumb/breadcrumb.html %}
                </div>
            </div>
        {% if page.categories contains 'errors' and page.is_parent%}                 
            <div class="row">
                <div class="span12">   
                    <div class="alert alert-info">
                    This is a generic error page which should help you in general with errors of this type.
                    Refer below to the <a href="#examples"><strong>specific examples</strong></a> for more precise
                    advice.
                    </div>        
                </div>
            </div>                       
        {% endif %}              
            
            {% if page.id != '/errors/html-validation/index' %}
            <div class="row">
                <div class="span8">
                        {% include posts/post.html %}
                </div>
                <div class="span4">
                        {% include error/main.html %}
                        {% include error/related.html %}
                        {% include error/examples.html %}
                </div>                
            </div>
            
            {% else %}
            
            <div class="row">
                <div class="span10 full-left">
                        {% include posts/post.html %}
                </div>
            </div>               
            
            {% endif %}
        </div>
    </body>
</html>