<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>How to fix: {{ page.title }} | {{ site.simplytestable.title }}</title>
        <meta name="description" content="How to fix: {{ page.title }}. Most likely cause, what this error means and how to fix it.">
        {% include assets/css/default.html %}
        {% include assets/js/default.html %}
        <script>
            $(document).ready(function() {
                $('pre').addClass('prettyprint');
                prettyPrint();
            });
        </script>        
    </head>
    <body id="{% include page/id %}" class="with-cta error {{ page.body_class }}">
        {% include header/navigation.html %}

        <div class="hidden-lg hidden-md hidden-sm">
            {% include sidebar/cta.html %}
        </div>

        <div class="container">
            {% include header/introduction.html %}
            
            <div class="row">
                <div class="col-lg-12">
                    {% include breadcrumb/breadcrumb.html %}
                </div>
            </div>

            {% if page.categories contains 'errors' and page.is_parent == true and (page.is_standalone == false or page.is_standalone == null) %}
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="alert alert-info">
                        <i class="fa fa-flag"></i>
                        This is a generic error page which should help you in general with errors of this type.
                        Refer below to the specific examples <span class="hidden-xs">to the right</span> <span class="hidden-lg hidden-md hidden-sm">below</span> for more precise
                        advice.
                    </div>
                </div>
            </div>
            {% endif %}

            {% if page.id != '/errors/html-validation/index' %}
            <div class="row">
                <div class="col-lg-12">
                    <h1>
                        <span>How to fix:</span>
                        {% include posts/title-content.html %}
                    </h1>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <div class="post">
                        {% include posts/content.html %}
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="hidden-xs">
                        {% include sidebar/cta.html %}
                    </div>


                    {% if page.error_elements == empty %}
                    {% else %}
                        {% if (page.is_parent != true or page.is_standalone != null)) %}
                            {% include error/error_technical_documentation.html %}
                        {% endif %}
                    {% endif %}

                    {% if page.is_standalone == false or page.is_standalone == null %}
                        {% include error/main.html %}
                    {% endif %}

                    {% include error/equivalent.html %}
                    {% include error/related.html %}

                    {% if page.is_standalone == false or page.is_standalone == null %}
                        {% include error/examples.html %}
                    {% endif %}
                </div>                
            </div>
            
            {% else %}
            
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        {% include posts/post.html %}
                </div>
            </div>               
            
            {% endif %}
        </div>
    </body>
</html>