<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }} | {{ site.simplytestable.title }}</title>

    <link href="//twitter.github.io/bootstrap/assets/js/google-code-prettify/prettify.css" rel="stylesheet">
    {% include assets/css/default.html %}
    <script src="//twitter.github.io/bootstrap/assets/js/google-code-prettify/prettify.js" type="text/javascript"></script>
    {% include assets/js/default.html %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
{% include header/navigation.html %}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            {% include posts/post.html %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            {% include generated/html-validation/top.html %}
        </div>
        <div class="col-lg-6">
            {% include sidebar/legal.html %}
        </div>
    </div>
</div>

</body>
</html>