<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page.title }} | {{ site.simplytestable.title }}</title>

        {% include assets/css/default.html %}
        {% include assets/js/default.html %}
        <script>
            // Activate Google Prettify in this page
            addEventListener('load', prettyPrint, false);
            $(document).ready(function(){
                // Add prettyprint class to pre elements
                $('pre').addClass('prettyprint');           
            }); // end document.ready
        </script>        
    </head>
    <body id="{% include page/id %}" class="{{ page.body_class }}">
        {% include header/navigation.html %}

        <div class="container">
            {% include header/introduction.html %}
            
            <div class="row">
                <div class="col-lg-12">
                    {% include breadcrumb/breadcrumb.html %}
                </div>
            </div>           
            
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8">
                        {% include posts/post.html %}
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 sidebar">
{% include sidebar/legal.html %}
                </div>                
            </div>
        </div>
    </body>
</html>