<div class="legal">    
    <h3>
        Legal documents
    </h3>    
    
    <ul class="sidebar-list document-list fa-ul link-list">
{% for post in site.categories.legal | sort:"name" %}
        <li>
            {% if page.url != post.url %}
            <a href="{{ post.url }}">
                <i class="fa fa-li fa-file-text-o"></i>
                {{ post.title }}
            </a>
            {% else %}
            <span>
                <i class="fa fa-li fa-file-text-o"></i>
                {{ post.title }}
            </span>
            {% endif %}
        </li>
{% endfor %}         
    </ul> 
</div>
